<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Creation d'un user</h2>
        </div>
    </div>
    <form>
        <div class="row">
            <div class="col-12">
                <label for="">Nom</label>
                <input type="text" [(ngModel)]="nom"  />
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="">Prénom</label>
                <input type="text" [(ngModel)]="prenom" />
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="">Login</label>
                <input type="text" />
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="">Mot de passe</label>
                <input type="text" />
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="">Téléphone</label>
                <input type="text" />
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <label for="">Role</label>
                <input type="text" />
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-primary" >Créer</button>
            </div>
        </div>
    </form>
</div>