<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Creation d'un user</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <label for="">Nom</label>
            <input type="text" class="form-control" [(ngModel)]="nom" />
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <label for="">Prénom</label>
            <input type="text" class="form-control" [(ngModel)]="prenom" />
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <label for="">Login</label>
            <input type="text" class="form-control" [(ngModel)]="login" />
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <label for="">Mot de passe</label>
            <input type="password" class="form-control" [(ngModel)]="password" />
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <label for="">Téléphone</label>
            <input type="text" class="form-control" [(ngModel)]="telephone" />
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <label for="">Role</label>
            <input type="text" class="form-control" [(ngModel)]="role" />
        </div>
    </div>
    <div class="row">
        <div class="col-2 pt-4">
            <button type="submit" class="btn btn-primary" (click)="creer()" *ngIf="!id" style="width: 100%;">Créer</button>
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary" (click)="modifier()" *ngIf="id" style="width: 100%;">Modifier</button>
        </div>
    </div>

</div>