<div class="container">
    <div class="row">
        <div class="col-12 titre p-3">
            <h2>Liste des articles</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-4 card-item" *ngFor="let item of articles">

            <div class="content">
                <div class="row">
                    <div class="col-8">
                        {{item.titre}}
                    </div>
                    <div class="col-4 promotion" *ngIf="item.promotion != 0">
                        En promotion
                    </div>
                </div>
                
                <img src="{{item.image}}" alt="">
                <div class="prix">
                    {{item.promotion != 0 ? item.prix * item.promotion : item.prix}} DT
                </div>
                <div class="row justify-content-end">
                    <div class="col-6 align-right">
                        <button (click)="ajouter(item)" class="btn btn-light" *ngIf="!verifierSurPanier(item.id)">Ajouter au panier</button>
                        <button (click)="ajouter(item)" class="btn btn-light" disabled *ngIf="verifierSurPanier(item.id)">produit ajouté</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>